[submodule "src/fckrman"]
	path = src/fckrman
	url = https://github.com/moonshadow565/fckrman
[submodule "src/dumper"]
	path = src/dumper
	url = https://github.com/moonshadow565/LoLMetaDumper
[submodule "src/riot-manifests"]
	path = src/riot-manifests
	url = https://github.com/Morilli/riot-manifests
